---
import MainLayout from "@layouts/MainLayout.astro";
---

<MainLayout title="page not found">
	<main>
		<h1>page not found... 😕</h1>
		<h3>back to <a href="/">home</a></h3>
	</main>
</MainLayout>

<style>
	main {
		margin-top: var(--size-10);
		text-align: center;

		h1 {
			color: var(--pink-6);
		}

		h3 {
			margin-top: var(--size-4);
			font-weight: var(--font-weight-4);
		}
	}
</style>
